body {
    background-color:#7F7F7F;
}
#gameContainer {
    display: block;
    width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    border-radius: 20px;
    z-index: 0;
    position: relative;
   
}


#player{
    display: block;
    width: 59px;
    height: 64px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
}


#enemy{
    display: block;
    width: 59px;
    height: 64px;
    position: absolute;
    bottom: 580px;
    left: 0px;
    z-index: 2;
}

#beam{
    display: block;
    width: 3px;
    height: 8px;
    background-color: crimson;
    position: absolute;
    bottom: 1580px;
    left: 0px;
    z-index: 2;
}

#scoreResult{
    display: block;
    width: 80px;
    height: 20px;
    background-color: #babfbf;
    color: red;
    position: absolute;
    bottom: 550px;
    left: 750px;
    z-index: 2;
    border-radius: 5px;
}

#ammoResult{
    display: block;
    width: 80px;
    height: 20px;
    background-color: #babfbf;
    color: red;
    position: absolute;
    bottom: 70px;
    left: 750px;
    z-index: 2;
     border-radius: 5px;
}

#backGroundStars{
    display: block;
    width: 860px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    -webkit-animation: scrol 200s;
    animation: scrol 200s;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background-repeat: repeat-y;
    
}

@-webkit-keyframes scrol{
    from{top:-60000px;}
    to {top:600px;}
}
@keyframes scrol{
     from{top:-60000px;}
    to {top:600px;}
}

